.reviews {
    padding: 10px 0 65px 0;
    img {
        height: 159px;
        width: 159px;
    }
    &__item {
        display: flex;
        align-items: top;
        margin-top: 60px;
    }

    &__text {
        margin-left: 50px;
        &_name {
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            color: #0D0D0D;
        }
        &_marafon {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #646464;
            margin-bottom: 10px;
        }
        &_descr {
            width: 100%;
            font-weight: 300;
            font-size: 16px;
            line-height: 25px;
            color: #0D0D0D;
        }
    }
}